@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 9, 9,11;
  --background-end-rgb: 20,20,24;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #333338 #61616c;
}
*::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

*::-webkit-scrollbar-track {
  background: #27272a;
  border-radius: 0.875rem
}

*::-webkit-scrollbar-thumb {
  background-color: #075985;
  border-radius: 0.875rem;
  border: 1px solid #0369a1;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 9, 9,11;
    --background-end-rgb: 20,20,24;
  }
  html {
    color-scheme: light;
  }
}


/* If the user prefers light mode,
we still enforce color-scheme: dark, despite the user preference */
@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 24, 24,27;
    --background-end-rgb: 35,35,40;
  }
  html {
    color-scheme: light;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
